.project {
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  transition: 0.3s;
  border-radius: 10px;
  min-width: 100%;
  min-height: 100%;
}

.project-data {
  color: white;
}

.dark-bg {
  background-color: #12232e;
}

.project-data .btn {
  padding: 5px;
}

@media (max-width: 470px) {
  .link-project {
    justify-content: center;
  }
}
