.project {
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  min-height: 250px;
  transition: 0.3s;
  background-position: 50% 100%;
  border-radius: 10px;
}

.project-data {
  color: white;
}

.dark-bg {
  background-color: #12232e;
}

.project-data .btn {
  padding: 5px;
}

@media (max-width: 470px) {
  .link-project {
    justify-content: center;
  }
}
